@model Emlak.ViewModels.LoginViewModel

<h1>Giriş Yap</h1>

<hr />

<form asp-controller="Account" asp-action="Login" method="post">
	<div>
		Kullanıcı Adı
		<br />
		<label asp-for="KullaniciAdi" />
		<input type="text" asp-for="KullaniciAdi" />
	</div>
	<div>
		Şifre
		<br />
		<label asp-for="Sifre" />
		<input type="password" asp-for="Sifre" />
	</div>
	<button type="submit">Giriş Yap</button>

</form>
<div>
	<a asp-action="Register">Hesabın Yok Mu? Hemen Kayıt O!</a>
</div>